.outer{
    margin-left: 15rem;
    margin-top: -55rem;
   
    
     
    
}


.Main{
    
   
    margin-left:10px;
    margin-top:20px;
    border-radius:10%
}
.photo{
    height:10px;
}